//$background-color: white;
$background-color: rgba(0, 0, 0, 0.05);
$black-0: #2E2E2E;
$black-1: #212121;
$blue-0: #4285F4;
$blue-1: #0d47a1;
$green-0: #00C851;
$green-1: #007E33;
$accent-0: #ffd740;

$font-color: white;


$navbar-color: $blue-1;

