@import './variables';
@import './mixins';
@import './base';


#navbar {
    padding: 1rem;
    .logo {
        color: white;
        font-size: 3rem;
    }
    background-color: $navbar-color;
    width: 100vw;
    height: auto;
}

#dashboard {
    padding: 1rem;
    .btn {
        font-size: 1.6rem;
        
    }
    #details {
        input,
        li,
        span{
            font-size: 1.6rem !important;
        }
        a{
            font-size: 1.4rem;
        }
        th {
            font-size: 2rem !important;
        }
        td {
            font-size: 1.6rem !important;
        }
        width: 80rem;
    }
}

